<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Your Dashboard</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

<container class="newAppForm">
<form>
  <header>Create New Post</header>
  <div class="">
    <label for="inputCompany" class="col-form-label">Title: </label>
    <div class="">
      <input type="company" class="form-control" id="inputTitle">
    </div>
  </div>
  <div class="">
    <label for="jobURL" class="col-form-label">Content </label>
    <div class="">
      <input type="jobURL" class="form-control" id="inputContent">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</container>
  <button type="submit" class="btn btn-primary">+ New Post</button>
</body>

</html>