<div>
<container class="newPostForm">
    <form>
        <header>Create New Post</header>
        <div class="">
            <label for="inputTitle" class="col-form-label">Title: </label>
            <div class="">
                <input type="inputTitle" class="form-control" id="inputTitle">
            </div>
        </div>
        <div class="">
            <label for="inputContent" class="col-form-label">Content </label>
            <div class="">
                <input type="inputContent" class="form-control" id="inputContent">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</container>
</div>

<script src="/js/newPost.js"></script>