{{#each posts as |post|}}
{{> user-post-details}}
{{/each}}

<div class="footer">
  <p>
      {{!-- <button type="add" value = {{id}} class="btn btn-primary addPost"><i class="fas fa-edit"></i> + New Post</button> --}}
      <a href="/newPost">+ New Post</a>
  </p>
</div>

<script src="./js/deletePost.js"></script>